#sherpa{
    background: #F3F6F9;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1{
    font-weight: bold;
    margin-top: 20px;
}

.bg-white{
    border-radius: 10px;
    height: 100%;
    padding-top: 15px;
    padding-left: 30px;
}

.container{
    padding-top: 40px;
    margin-bottom: 60px;
}

p{
    color: gray;
    margin-top: 30px;
    margin-bottom: 20px;
}

.box img{
    margin-top: -60px;
    border-radius: 60px;
}

